.vipChair {
    width: 70px;
    height: 50px;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    color: red !important;
    white-space: normal !important;
}

.selectingChair {
    width: 70px;
    height: 50px;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    color: yellow !important;
    white-space: normal !important;
}

.selectedChair {
    width: 70px;
    height: 50px;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    color: black !important;
    white-space: normal !important;
}