.header__content {
    padding-bottom: 20px;
}

.header__top i {
    color: #007bff;
    font-size: 12px;
}

.header__top .login__text {
    font-size: 12px;
}

.loginTitle {
    font-size: 12px;
    color: #007bff;
    margin-left: 3px;
    cursor: pointer;
}